html{
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
    margin: 0rem;
    font-family: 'Rubik', sans-serif;
}

/* Generales */
a{
    text-decoration: none;
    color: black;
}
button{
    border: none;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}

/* Clases */
.contenedorHeader{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 2px solid #00000409;
    background-color: #dbdbdb;
}
.btnActivo{
    background-color: black;
    border-radius: .5rem;
    color: white;
    padding: .5rem .7rem;
}
.logo{
    width: 100px;
    height: 30px;
    background-image: url(../images/ITBA-logo.png);
    background-repeat: no-repeat;
    margin: 0px 5px;
    text-align: center;
}
.onlineBlank{
    display: inline-block;
    font-weight: 500;
    color:black;
}

.onlineBlank:hover, .onlineBlank:active{
    color: #BF443F;
    text-decoration: underline 2px;
    transition: all ease 0.2s;
}

/* Comienza Main */
.sectionTitulo{
    font: 120% "Open Sans";
    text-align: center;
}
.sectionTitulo h1{
    font-family: 'Rubik', sans-serif;
}
.sectionTitulo span{
    font-weight: 700;
    color: #BF443F;
}

/* Section Navegador */
.sectionNavegador{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #4899db;
    color: white;
    text-align: center;
}
.sectionNavegador ul{
    display: inline-flex;
    
}
.sectionNavegador li{
    margin: 0 .6rem;
}
.sectionNavegador li a{
    color: white;
    text-shadow: 1px 1px 1px black;
}
.sectionNavegador li a:hover, .sectionNavegador li a:active{
    text-shadow: 2px 2px 2px black;
    transition: all ease 0.2s;    
}

/* Abrir cuenta */
.divCuentaSanta{
    border-top: 2px solid #00000413;
    padding: 1rem;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.divCuentaSanta a{
    background-color: #e60e0e;
    border-radius: 1rem;
    color: white;
    padding: .8rem 5rem;
}

/* Seccion Slider */
.sectionSlider{
    margin: 1rem 4rem;
}
.imgSlider{
    width: 100%;
    height: 500px;
    display: block;


}
.fotoSlider{
    /*border-radius: 1rem;*/
    display: block;
    background-image: url(../images/bank.jpeg);
    background-position: center;
    width: 100%;
    height: 100%;
}

/* Footer */
footer{
    background-color: #4899db;
    height: 150px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    color: white;
}
footer div{
    float: left;
}

footer a{
    justify-content: space-between;
    padding: 0px 5px;
    color: white;
    text-shadow: 1px 1px black;
}

footer p{
    text-shadow: 1px 1px black;
    text-align: center;
    display: block;
    float: left;
}